server:
  port: 8083

spring:
  application:
    name: monitoring-service
  datasource:
    url: jdbc:postgresql://localhost:5434/logging
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.logging: DEBUG
